@import url("colors.css");

.seeProductBtn {
  cursor: pointer;
  font-size: 0.81rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 15px 30px;
}

#orange {
  background-color: var(--darkOrange);
  color: var(--white);
  border: none;
}

#orange:hover {
  background-color: var(--orange);
}

#black {
  background-color: transparent;
  color: var(--black);
  border: 1px solid var(--black);
}

#black:hover {
  background-color: var(--black);
  color: var(--white);
}

.categoriesCardButton {
  height: 12px;
  cursor: pointer;
  padding: 0px;
  margin-top: 15px;
  width: 57px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  color: rgb(87, 87, 87);
  border: none;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}

.categoriesCardButton:hover {
  color: var(--darkOrange);
}

.inputStepper {
  display: flex;
  /* max-width: 96px;
  max-height: 32px; */
}

.inputStepperValue {
  padding: 15px 0px 15px 0px;
  max-width: fit-content;
  display: flex;
  justify-content: center;
  border: none;
  text-align: center;
  outline: none;
  background-color: var(--gray);
  font-weight: 700;
  color: var(--black);
  font-size: 0.81rem;
}

input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

#increment {
  cursor: pointer;
  padding-right: 20px;
  padding-left: 10px;
  background-color: var(--gray);
  border: none;
  font-size: 0.81rem;
  font-weight: 700;
  color: rgb(126, 123, 123);
}

#decrement {
  cursor: pointer;
  padding-left: 20px;
  padding-right: 10px;
  background-color: var(--gray);
  border: none;
  font-size: 0.81rem;
  color: rgb(126, 123, 123);
  font-weight: 700;
}

#increment:hover,
#decrement:hover {
  color: var(--darkOrange);
}

.cartInputStepper {
  display: flex;
  max-width: 96px;
  max-height: 32px;
}

.cartIncrement {
  cursor: pointer;
  padding-right: 20px;
  padding-left: 10px;
  background-color: var(--gray);
  border: none;
  font-size: 0.81rem;
  font-weight: 700;
  color: rgb(126, 123, 123);
}

.cartDecrement {
  cursor: pointer;
  padding-left: 20px;
  padding-right: 10px;
  background-color: var(--gray);
  border: none;
  font-size: 0.81rem;
  color: rgb(126, 123, 123);
  font-weight: 700;
}

.cartIncrement:hover,
.cartDecrement:hover {
  color: var(--darkOrange);
}
