.checkout {
  margin-top: 142px;
  display: flex;
  /* justify-content: space-between; */
  justify-self: center;
  gap: 30px;
}

@media (max-width: 1052px) {
  .checkout {
    margin-top: 65px;
    flex-direction: column;
    align-items: center;
  }
}
