@import url("colors.css");

.companyDescription {
  margin-top: 165px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 125px;
}

.textContent {
  max-width: 45%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.textContentTitle {
  color: var(--black);
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: 1.429px;
  text-transform: uppercase;
}

.textContentTitleHighlight {
  color: var(--darkOrange);
}

.textContentText {
  color: var(--black);
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 500;
  line-height: 166.6%;
}

.descriptionBanner {
  width: 550px;
  height: 588px;
  background-image: url("../assets/shared/desktop/image-best-gear.jpg");
  background-position: center;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .companyDescription {
    margin-top: 96px;
    flex-direction: column-reverse;
  }

  .descriptionBanner {
    width: 100%;
    max-width: 689px;
    height: 300px;
    background-image: url("../assets/shared/tablet/image-best-gear.jpg");
    background-size: 700px;
    background-position: center;
  }

  .textContentTitle {
    margin-top: 64px;
    /* width: 573px; */
    text-align: center;
  }

  .textContent {
    max-width: 573px;
  }

  .textContentText {
    /* width: 574px; */
    text-align: center;
  }
}
