@import url("colors.css");

.footerContentHolder {
  position: relative;
  max-width: 1110px;
  margin: 0 auto;
}

.footer {
  margin-top: 165px;
  padding-bottom: 46px;
  background-color: var(--offBlack);
  color: var(--white);
  width: 100vw;
  position: relative;
  left: calc(-50vw + 50%);
}

.nav {
  padding-top: 35px;
  padding-bottom: 35px;
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav a {
  text-decoration: none;
  color: var(--white);
}

.nav a:hover {
  color: var(--orange);
}

.logo {
  font-size: 24px;
  font-weight: 700;
}

.navLinks {
  display: flex;
  gap: 34px;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.footerBottom {
  margin-top: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerTextContent {
  max-width: 520px;
  color: rgb(158, 154, 154);
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 500;
  line-height: 166.667%;
  text-align: left;
}

.footerTextContentCopyright {
  margin-top: 56px;
}

.footerSocialLinks {
  display: flex;
  gap: 16px;
}

hr {
  width: 100px;
  height: 4px;
  background-color: var(--darkOrange);
  border: inherit;
  position: absolute;
  top: -8px;
  left: 0;
}
