@import url("colors.css");

.container {
  max-width: 1110px;
  margin: 0 auto;
  background-color: var(--offWhite);
  /* padding: 0 10px; */
}

.homeHolder {
  /* padding-left: 165px;
  padding-right: 165px; */
  /* display: flex;
  justify-content: center; */
  background-color: var(--offWhite);
}

.homeHero {
  /* display: flex;
  justify-content: center; */
  color: var(--white);
}

.imgHero {
  object-fit: cover;
}

.homeHeroTextContent {
  position: absolute;
}
